- #  Copyright (c) 2026, BdP and DPSG. This file is part of
- #  hitobito_pfadi_de and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_pfadi_de.

= hidden_field_tag :autosubmit
= turbo_frame_tag :role_fee_kind_id, target: :_top do
  - if entry.used_attributes(:fee_kind_id).present?
    - if entry.new_record?
      = f.labeled_collection_select(:fee_kind_id,
                                    FeeKindChooser.new(allow_restricted: can?(:assign_restricted_fee_kinds, entry)).possible_for_role(entry.role),
                                    :id,
                                    :name,
                                    {},
                                    { required: true, class: "form-select form-select-sm" })
    - else
      = f.labeled(:fee_kind_id) do
        = entry.fee_kind.to_s